%section#boxes-members-edit
  .page-header
    %h1 Edit #{@member.name}
    %p Fill out the members' details below
.row-fluid
  .span12
    = simple_form_for(@member, :as => :member, :url => boxes_member_path, :method => :put, :html => {:class => "form-horizontal"}) do |f|
      = render :partial => "shared/member", :locals => { :f => f }
      .row-fluid
        .span6.offset6
          = f.button :submit, :class => "btn-primary"
          = link_to "Cancel", box_root_path, :class => "btn"
