.page-header
  %h1 Member List
.row
  .span12
    = will_paginate @posts
    %table.table.table-striped
      %thead
        %tr
          %th Member
          %th Address
          %th Emergency Contact
          %th Actions
      %tbody
        - @members.each do |member|
          %tr
            %td.member
              %p= member.name
              %p= member.email
              %p= member.phone
            %td.address
              %p= member.address_1
              %p= member.address_2
              %p #{member.city}, #{member.state} #{member.zip}
            %td.emergency
              %p= member.emergency_contact
              %p= member.emergency_phone
            %td.actions
              %p= link_to "Edit", edit_boxes_member_path(member.id), {:class => "btn"}
              %p= link_to "Delete", boxes_member_path(member.id) , {:class => "btn btn-danger", :method => :delete, :confirm => "Really delete #{member.name}?"}
