.page-header
  %h1 Class List
.row
  .span6
    %table.table.table-striped
      %thead
        %tr
          %th Class Time
          %th Actions
      %tbody
        %tr
          %td{:colspan => 2}
            %h2 Monday
        - @monday.each do |class_day|
          %tr
            %td #{class_day.start_time.strftime("%I:%M%p")}-#{class_day.end_time.strftime("%I:%M%p")}
            %td= delete_class_link(class_day)
        %tr
          %td{:colspan => 2}
            %h2 Tuesday
        - @tuesday.each do |class_day|
          %tr
            %td #{class_day.start_time.strftime("%I:%M%p")}-#{class_day.end_time.strftime("%I:%M%p")}
            %td= delete_class_link(class_day)
        %tr
          %td{:colspan => 2}
            %h2 Wednesday
        - @wednesday.each do |class_day|
          %tr
            %td #{class_day.start_time.strftime("%I:%M%p")}-#{class_day.end_time.strftime("%I:%M%p")}
            %td= delete_class_link(class_day)
        %tr
          %td{:colspan => 2}
            %h2 Thursday
        - @thursday.each do |class_day|
          %tr
            %td #{class_day.start_time.strftime("%I:%M%p")}-#{class_day.end_time.strftime("%I:%M%p")}
            %td= delete_class_link(class_day)
        %tr
          %td{:colspan => 2}
            %h2 Friday
        - @friday.each do |class_day|
          %tr
            %td #{class_day.start_time.strftime("%I:%M%p")}-#{class_day.end_time.strftime("%I:%M%p")}
            %td= delete_class_link(class_day)
        %tr
          %td{:colspan => 2}
            %h2 Saturday
        - @saturday.each do |class_day|
          %tr
            %td #{class_day.start_time.strftime("%I:%M%p")}-#{class_day.end_time.strftime("%I:%M%p")}
            %td= delete_class_link(class_day)
        %tr
          %td{:colspan => 2}
            %h2 Sunday
        - @sunday.each do |class_day|
          %tr
            %td #{class_day.start_time.strftime("%I:%M%p")}-#{class_day.end_time.strftime("%I:%M%p")}
            %td= delete_class_link(class_day)
