%section#global
  .page-header
    %h1 Add New Class
    %p Fill out the class's details below
.row
  .span12
    = simple_form_for(@box_class, :as => :box_class, :url => boxes_box_classes_path, :method => :post, :html => {:class => "form-horizontal"}) do |f|
      .form-inputs
        .row
          .span7.times
            = f.input :start_time, :ampm => true
            = f.input :end_time, :ampm => true
          .span5.days
            = f.input :day, :as => :select, :collection => BoxClass::DAYS
            -#= f.input :monday
            -#= f.input :tuesday
            -#= f.input :wednesday
            -#= f.input :thursday
            -#= f.input :friday
            -#= f.input :saturday
            -#= f.input :sunday
      .form-actions
        = f.button :submit, "Add Class", :class => "btn-primary"
        = link_to "Cancel", box_root_path, :class => "btn"
