.page-header
  %h1 Class List
.row
  .span12
    %table.table.table-striped
      %thead
        %tr
          %th Class Time
          %th Class Days
          %th Participants Today
          %th Participants Tomorrow
          %th Actions
      %tbody
        - @box_classes.each do |box_class|
          %tr
            %td #{box_class.start_time.strftime("%I:%M%p")} - #{box_class.end_time.strftime("%I:%M%p")}
            %td
              %p.monday= "Mon" if box_class.days_hash[:monday]
              %p.tuesday= "Tue" if box_class.days_hash[:tuesday]
              %p.wednesday= "Wed" if box_class.days_hash[:wednesday]
              %p.thursay= "Thu" if box_class.days_hash[:thursay]
              %p.friday= "Fri" if box_class.days_hash[:friday]
              %p.saturday= "Sat" if box_class.days_hash[:saturday]
              %p.sunday= "Sun" if box_class.days_hash[:sunday]
            %td .
            %td .
            %td .
.page-header
  %h1 Box Functions
.row
  .span12
    %ul.administration
      %li= link_to "Add Class", new_boxes_box_class_path
