.links.btn-group.pull-left
  %a.btn.dropdown-toggle(data-toggle="dropdown"){:href => "#"}
    = current_box.name
    %span.caret
  %ul.dropdown-menu
    %li= link_to 'Sign Out', destroy_box_session_path, :method => :delete
.nav-collapse
  %ul.nav
    %li= link_to "Home", box_root_path
    %li= link_to "Edit Profile", edit_box_registration_path
    %li.dropdown
      %a.dropdown-toggle(data-toggle="dropdown"){:href => "#"}
        Classes
        %b.caret
      %ul.dropdown-menu
        %li= link_to "List Classes", boxes_box_classes_path
        %li= link_to "Add Class", new_boxes_box_class_path
    %li.dropdown
      %a.dropdown-toggle(data-toggle="dropdown"){:href => "#"}
        Members
        %b.caret
      %ul.dropdown-menu
        %li= link_to "List Members", boxes_members_path
        %li= link_to "Add Member", new_boxes_member_path
    %li= link_to "Checkins"
